#!/bin/bash
# ~/.xprofile - set X environment variables & start Xorg apps

# gtk2 config file path
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
# gtk themes in qt apps
export QT_STYLE_OVERRIDE=gtk
# force Xft on old GTK and QT applications
export GDK_USE_XFT=1
export QT_XFT=true
# wine force 32bit mode
export WINEARCH=win32
# Dota 2 font rendering fix
export MESA_GL_VERSION_OVERRIDE=2.1

# Export session for gnome-keyring (TODO still needed?)
export DESKTOP_SESION=gnome

# Load monitor.icm if present (requires agryllcms)
if [ -f ~/.local/share/monitor.icm ] && [ -x $(command -v dispwin) ]; then
    exec dispwin -d 1 ~/.local/share/monitor.icm &
fi

# Set xkbmap
exec setxkbmap -model pc104 -layout us,lt -option grp:alt_shift_toggle &

# Start apps
exec fbpanel &
exec nm-applet &

# udiskie
#exec udiskie &

# notification daemon
#exec /usr/lib/notification-daemon-1.0/notification-daemon &

# blueman applet
#exec blueman-applet &

# pasystray
#exec pasystray &

# terminals
#exec termite --class="term-system" &
#exec termite --class="term-kapma" &

# scudcloud
#exec scudcloud &

# megatools
#if [ ! -d "${HOME}/var/mega" ]; then
#    mkdir -p ${HOME}/var/mega
#fi
#if which megafs 2>&1 >/dev/null; then
#    if [ ! "$(pidof megafs)"  ]; then
#        exec megafs $HOME/var/mega &
#    fi
#fi

#compton
#exec compton -b



