#!/usr/bin/env bash
## ek9/x11-config - https://github.com/ek9/x11-config
## .xprofile
## This file sets up X11 profile. It is loaded by .xinitrc during X11 init

# load profile files from $HOME/.config/X11/profile.d
if [[ -d "$HOME/.config/X11/profile.d/" ]]; then
	for profile in $HOME/.config/X11/profile.d/*.sh; do
		test -r "$profile" && . "$profile"
	done
	unset profile
fi

