#include ".config/X11/Xresources"

! Xft settings
!Xft.dpi:                    96
!Xft.antialias:              true
!Xft.rgba:                   rgb
!Xft.hinting:                true
!Xft.hintstyle:              hintslight


! Font
!URxvt.font: xft:DejaVu Sans Mono:size=8
!URxvt.font: xft:Inconsolata:size=11
!URxvt.font: xft:Meslo LG L:size=11
URxvt.font: xft:Monaco:size=10

! Cursor Theme
Xcursor.theme: Simple-and-Soft

! URxvt settings (tmux+solarized)
URxvt.depth           : 32
URxvt.geometry        : 90x30
URxvt.transparent     : false
URxvt.fading          : 0
! URxvt.urgentOnBell  : true
! URxvt.visualBell    : true
! URxvt.loginShell      : true
URxvt.saveLines       : 0
URxvt.internalBorder  : 3
URxvt.lineSpace       : 0
URxvt.intensityStyles : false

! Cursor
URxvt.cursorBlink     : true
URxvt.cursorColor     : #657b83
URxvt.cursorUnderline : false

! Pointer
URxvt.pointerBlank : true

! disable M-s (Alt+s)
URxvt*keysym.M-s   : false
urxvt*saveLines    : 0
URxvt*.transparent : true
! URxvt*.shading   : 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading     : 20

! scrollbar style - rxvt (default), plain (most compact), next, or xterm
URxvt.scrollstyle : false
! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
! enable secondary scroll (e.g. in less or more)
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! enable copy/paste with Ctrl+Shift+c/v
URxvt.perl-ext-common: clipboard
URxvt.iso14755: False
!URxvt.keysym.Shift-Control-C: perl:clipboard:copy
!URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

